.category_popular_parent_detail {
  //   margin-bottom: 100px;
  margin-top: 160px;
  margin-bottom: 120px;
  // margin-left: 1.25rem;
  // margin-right: 1.25rem;

  .category_popular_text {
    //   margin-bottom: 0px;
    // margin-left: 0px;
    // margin-right: 0px;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // display: inline;
    font-weight: 700;
    letter-spacing: -0.025rem;
    font-size: 2.25rem;
    line-height: 1.33;
    // text-align: center;
  }

  .detail_popular_card_row {
    display: flex;
    // flex-direction: row;
  }
}
