.StorePopularProduct {
  .main_container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    margin-top: 80px;

    max-width: 80rem;
    overflow: hidden;

    .main_title_box {
      padding-bottom: 0px;

      .main_title {
        font-size: 2.25rem;
        line-height: 1.33;
        letter-spacing: -0.025rem;

        text-align: center;
        font-weight: 700;
        color: rgb(38, 40, 43);
        margin: 0px;
      }
    }
    .main_list_container {
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      position: relative;
      margin-top: 0px;
      margin-bottom: 0px;
      list-style: none;
      padding: 0px;

      .title_list {
        display: inline-block;
        vertical-align: middle;

        .title_list_button {
          text-align: -webkit-match-parent;

          font-size: 1.125rem;
          line-height: 1.38;
          border-bottom: 1px solid black;
          letter-spacing: -0.025rem;
          font-weight: 700;
          color: rgb(38, 40, 43);
          display: block;
          cursor: pointer;
          border-width: 0px;
          border-style: initial;
          border-color: initial;
          border-image: initial;
          background: transparent;
          padding: 0.625rem 0.75rem;
          outline: none;
          transition: color 0.2s ease-in-out 0s;
        }
      }
      .title_move_line {
        width: 32px;
        transform: translateX(344px) translateZ(0px);

        position: absolute;
        height: 0.125rem;
        background-color: rgb(38, 40, 43);
        border-radius: 1px;
        transition: width 0.5s ease 0s, transform 0.5s ease 0s;
        bottom: 0.25rem;
      }
    }

    .main_card_container {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      .card_wrapper {
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card_box_set {
          display: flex;
          flex-direction: column;
          width: 25%;
          padding-left: 0.25rem;
          padding-right: 0.25rem;

          .card_box_photo_link {
            cursor: pointer;
            overflow: hidden;

            .card_box_photo_set {
              box-sizing: border-box;
              background-color: rgb(232, 235, 237);
              max-width: 312px;
              max-height: 312px;
              position: relative;
              overflow: hidden;
              border-width: 1px;
              border-style: solid;
              border-color: rgba(232, 235, 237, 0.5);
              border-image: initial;
              border-radius: 8px;

              .card_box_photo_picture {
                display: block;
                position: relative;
                padding-top: 100%;

                .card_box_photo_img {
                  position: absolute;
                  top: 0px;
                  right: 0px;
                  bottom: 0px;
                  left: 0px;
                  display: block;
                  width: 100%;
                }
              }
            }
          }

          .card_box_contents {
            box-sizing: border-box;
            padding-left: 6px;
            padding-right: 6px;
            padding-top: 12px;
            padding-bottom: 12px;
            .product_brand_link {
              cursor: pointer;
              display: block;
              text-decoration: none;

              .product_brand {
                font-size: 0.875rem;
                font-weight: 700;
                line-height: 1.43;
                letter-spacing: -0.025rem;
                color: rgb(38, 40, 43);
                display: -webkit-box;
                text-overflow: ellipsis;
                word-break: break-all;
                -webkit-line-clamp: 1;
                height: 1.25125rem;
                margin: 0px 0px 3px;
                text-decoration: none;
                overflow: hidden;
              }
            }

            .product_title_link {
              cursor: pointer;
              display: block;
              text-decoration: none;

              .product_title {
                height: 1.25125rem;
                box-sizing: border-box;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.43;
                letter-spacing: -0.025rem;
                color: rgb(38, 40, 43);
                -webkit-box-orient: vertical;
                display: -webkit-box;
                text-overflow: ellipsis;
                word-break: break-all;
                margin: 0px 0px 8px;
                text-decoration: none;
                overflow: hidden;
              }
            }
            .product_price_info {
              .price_discount {
                box-sizing: border-box;
                font-size: 0.9375rem;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: -0.025rem;
                color: rgb(255, 63, 101);
                margin: 0px;
              }
              .price_money {
                box-sizing: border-box;
                font-size: 0.9375rem;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: -0.025rem;
                color: rgb(38, 40, 43);
                margin: 0px;
              }
              .price_won {
                box-sizing: border-box;
                font-size: 0.8125rem;
                font-weight: 400;
                line-height: 1.38;
                letter-spacing: -0.01875rem;
                color: rgb(38, 40, 43);
                margin: 0px;
              }
            }

            .like_and_comment {
              white-space: nowrap;

              .like {
                box-sizing: border-box;
                font-size: 0.8125rem;
                font-weight: 400;
                line-height: 1.38;
                letter-spacing: -0.01875rem;
                color: rgb(158, 164, 170);
                margin: 0px 8px 0px 0px;
              }

              .comment {
                box-sizing: border-box;
                font-size: 0.8125rem;
                font-weight: 400;
                line-height: 1.38;
                letter-spacing: -0.01875rem;
                color: rgb(158, 164, 170);
                margin: 0px;
              }
            }
          }
        }
      }
    }

    .main_show_more_container {
      display: flex;
      justify-content: center;

      .show_more_box {
        min-width: 16.6667%;

        .show_more {
          height: 3.5rem;
          webkit-box-align: center;
          align-items: center;
          box-sizing: border-box;
          cursor: pointer;
          -webkit-box-pack: center;
          justify-content: center;
          user-select: none;
          height: 2.75rem;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.31;
          letter-spacing: -0.025rem;
          color: rgb(38, 40, 43);
          background-color: rgb(232, 235, 237);
          width: 100%;
          display: inline-flex;
          text-indent: 11px;
          border-radius: 9999px;
          outline: none;
          text-decoration: none;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(232, 235, 237);
          border-image: initial;
          padding: 0px 1.25rem;
        }
        .show_more_icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
