.collection {
  border-top: 1px solid #dfdfdf;
  background-color: white;
  border-radius: 0 0 0 10px;
  padding: 10px 20px 5px 20px;
  margin-top: -5px;
  height: 150px;

  .collection_title {
    margin: 10px 0;

    .collection_tilte_inner {
      margin-bottom: 12px;
      position: relative;

      p {
        font-weight: bold;
        font-size: 13px;
        color: #72787f;

        span {
          font-weight: bold;
          color: black;
        }
      }

      .collection_button {
        display: flex;
        right: 0;
        position: absolute;
        top: -10px;
        cursor: pointer;

        .collection_left,
        .collection_right {
          border: 1px solid #c9cdd2;
          background: url("../../../Img/modal/button_img.png");
          width: 25px;
          height: 25px;
          border-radius: 6px 0 0 6px;
        }

        .collection_left {
          border-radius: 6px 0 0 6px;
          background-position-y: -120px;
        }

        .collection_right {
          border-radius: 0 6px 6px 0;
          background-position-y: -144px;
        }
      }
    }
  }

  .slick-initialized {
    .slick-list {
    }

    .collection_more {
      border-radius: 6px;
      border: 0;
      text-align: center;
      background-color: #e8ebed;
      cursor: pointer;
      outline: none;
      color: #454c53;
      font-size: 14px;
      line-height: 123px;

      @media only screen and (max-height: 800px) {
        font-size: 9px;
        width: 200px;
        line-height: 80px;
        height: 80px;
      }
    }

    .collection_wrapper {
      img {
        display: flex;
        border-radius: 6px;
        width: 90%;
        cursor: pointer;
        height: 125px;

        @media only screen and (max-height: 800px) {
          height: 70px;

          margin-right: 30px;
        }
      }
    }
  }
}
