.detail_mold {
  width: 740px;
  margin-left: auto;
  margin-right: auto;
}
.detail_inside_mold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}
.btn_of_detail_product {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0px;
  padding-right: 0px;
  width: 740px;

  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(232, 235, 237);
}
.text_of_detail_btn {
  font-size: 1.5rem;
  line-height: 1.33;
  display: inline;
  font-weight: 700;
}
.see_more_detail_arrow {
  width: 23px;
  height: 23px;
}
// 상품 문의 보기 버튼*************
.fold_ask_question {
  height: 950px;
  transition: height 0.25s ease-in-out 0s;
  overflow: hidden;
}
.open_ask_question {
  height: 0;
  transition: height 0.25s ease-in-out 0s;
  overflow: hidden;
}
// 상품 문의*************
.question_btn_parent {
  padding: 20px;
}
.go_leave_question {
  text-decoration: none;
}
.go_leave_question:link,
.go_leave_question:visited,
.go_leave_question:hover {
  text-decoration: none;
  color: rgb(0, 193, 163);
}
.question_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.025rem;
  color: rgb(0, 193, 163);
  background-color: transparent;
  height: auto;
  width: 100%;

  border-width: 0px;
  outline: none;
  text-decoration: none;
  border-radius: 0px;
  padding: 0px;
}
.question_box {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.question_id_date {
  display: flex;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.025rem;
  color: rgb(114, 120, 127);
  margin: 0px;
}
.question_text {
  max-height: 1.25125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.025rem;
  color: rgb(38, 40, 43);
}
.add_border_top {
  border-top: 1px solid rgba(232, 235, 237, 0.5);
}
// 교환 및 환불*******************
.change_refund_arrow_down {
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out 0s;
  width: 23px;
  height: 23px;
}
.change_refund_arrow_up {
  transform: rotate(180deg);
  transition: transform 0.25s ease-in-out 0s;
  width: 23px;
  height: 23px;
}
// ****************************************
.detail_column {
  max-height: 1000px;
  transition: max-height 500ms ease-in-out 0s;
  overflow: hidden;
}
.fold_detail_column {
  max-height: 0px;
  transition: max-height 500ms ease-in-out 0s;
  overflow: hidden;
}
// .not_see_more_detail_column {
//   max-height: 1000px;
// }
.see_more_detail_column {
  max-height: 100vh;
  transition: max-height 500ms ease-in-out 0s;
  overflow: hidden;
}

.this_is_real_text {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  border-color: rgb(232, 235, 237);
}
.for_styleshare_not_brand {
  border-bottom: 1px solid rgb(232, 235, 237);
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(232, 235, 237);
  border-color: rgb(232, 235, 237);
}
.bold_line {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.025rem;
  color: rgb(38, 40, 43);
  margin: 0px;
}
.normal_line {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.025rem;
  color: rgb(38, 40, 43);
  margin: 0px;
}
.go_blog_link {
  color: rgb(0, 193, 163);
  cursor: pointer;
  user-select: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.025rem;
  color: rgb(0, 193, 163);
  background-color: transparent;
  height: auto;
  text-decoration: none;
}
.notice_about_product {
  text-overflow: ellipsis;
  white-space: pre-line;
  word-break: break-all;
  margin-bottom: 1rem;
  overflow: hidden;

  padding-left: 0px;
  padding-right: 0px;
  margin-top: 16px;
  margin-bottom: 36px;
  font-size: 16px;
  color: rgb(38, 40, 43);
}
.notice_text {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: -0.025rem;
  color: rgb(38, 40, 43);
  margin-bottom: 16px;
}
.see_more_notice {
  color: rgb(0, 193, 163);
  cursor: pointer;
  user-select: none;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.025rem;
  color: rgb(0, 193, 163);
  background-color: transparent;
  height: auto;
  text-decoration: none;
}
.img_url_style {
  width: 100%;
}
.see_more_detail_parent {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  margin-left: -0.3125rem;
  margin-right: -0.3125rem;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}
.see_more_detail_btn {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  user-select: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: -0.025rem;
  color: rgb(38, 40, 43);
  background-color: rgb(232, 235, 237);
  width: 33.3333%;
  height: 3.5rem;
  display: flex;
  text-indent: 11px;
  border-radius: 9999px;
  outline: none;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(232, 235, 237);
  border-image: initial;
  padding: 0px 1.25rem;
}
.see_more_detail_arrow_down {
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out 0s;
  width: 12px;
  margin: 0 0 0 2px;
}
.see_more_detail_arrow_up {
  transform: rotate(180deg);
  transition: transform 0.25s ease-in-out 0s;
  margin: 0 0 0 2px;
  width: 12px;
}
