.top_right {
  .top_right_wrapper {
    display: flex;
    align-items: center;
    padding: 0 160px 0 0px;
    height: 64px;
    .right_search {
      position: relative;
      .right_search_img {
        position: absolute;
        left: 12px;
        top: 11px;
      }
      .right_search_text,
      .right_search_text_focus {
        letter-spacing: -0.4px;
        background-color: #eff0f2;
        border-radius: 22px;
        border-width: 1px;
        border: 1px solid white;
        width: 180px;
        height: 45px;
        padding: 10px 12px 10px 36px;
        font-size: 16px;
        transition: width 0.25s linear;
      }
      .right_search_text_focus {
        width: 400px;
      }
    }
    .right_main {
      display: flex;
      align-items: center;
      cursor: pointer;
      .main_left_img {
        padding: 5px 8px;
      }
      .main_mid_img {
        padding: 5px 8px;
      }
      .main_right_img {
        padding: 5px 8px;
      }
      .login_signin {
        font-size: 16px;
        font-weight: 700;
        color: white;
        letter-spacing: -0.4px;
        background-color: black;
        border-radius: 22px;
        border-width: 1px;
        border: 1px solid black;
        width: 120px;
        height: 40px;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }
}
