.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.459);
}

.modal {
  display: flex;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 15px;
  margin: 15px auto;
  z-index: 2;
  width: 950px;
  border-color: #c9cdd2;
  background-color: white;
  border-radius: 10px;

  @media only screen and (max-height: 800px) {
    width: 750px;
    height: 630px;
  }


  .right_feed {
    padding: 20px;

    .info_wrapper {
      padding: 12px;
      border: 1px solid #e8ebed;
      border-radius: 6px;

      .info_top {
        display: flex;
        align-items: center;

        .profile_picture {
          img {
            border-radius: 20px;
            width: 40px;
            height: 40px;
          }
        }

        .user_information {
          margin-left: 10px;

          .user_nick {
            font-size: 13px;
            font-weight: bold;
          }

          .user_add_info {
            color: #9ea4aa;
            font-size: 11px;
          }
        }
      }

      .desc {
        word-break: keep-all;
        font-size: 12px;

        a {
          color: #39f;
        }
      }
    }
  }

  .like_wrapper {
    width: 100%;
    padding: 10px 0px;
    height: 34px;
    border-bottom-color: #c9cdd2;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    .button_group {
      display: flex;
      border-collapse: collapse;
      color: transparent;
      pointer-events: none;

      .like,
      .like_count {
        border: 1px solid #c9cdd2;
        width: 42px;
        height: 34px;
        background-color: white;
      }

      .like {
        border-radius: 6px 0 0 6px;
        background: url("../../Img/modal/button_img.png");
        background-position-y: -2234px;
      }

      .like_count {
        border-radius: 0 6px 6px 0;
        color: #72787f;
        font-weight: bold;
      }
    }
  }

  .comment_wrapper {
    padding-top: 12px;

    .comment_title {
      color: #72787f;
      font-size: 14px;

      p {
        font-weight: bold;
      }
    }

    .comment_list {
      margin-top: 10px;

      .comment_item {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 11px;

        img {
          width: 30px;
          height: 30px;
        }

        a {
          color: #26282b;
          font-weight: bold;
          font-size: 13px;
          text-decoration: none;
          margin-right: 3px;
        }

        .right_box {
          margin-left: 10px;

          p {
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}