@import "Style/reset.scss";
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans|Roboto&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: "Helvetica", "Arial", "Apple SD Gothic Neo", "Nanum Gothic",
    "Malgun Gothic", "DotumChe", "Dotum", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

#modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}