@import "Style/reset.scss";
@import "Style/common.scss";

@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans|Roboto&display=swap");

html,
body {
  font-family: "Helvetica", "Arial", "Apple SD Gothic Neo", "Nanum Gothic",
    "Malgun Gothic", "DotumChe", "Dotum", sans-serif;
  color: #26282b;
  line-height: 1.3;
}
