.four_pic_div {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;

  .whats_this_box {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    .whats_this_box_text {
      display: block;
      font-size: 2em;
      font-weight: 700;
      letter-spacing: -0.0025rem;
    }
    .button_box {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);

      .left_button {
        cursor: pointer;
        // font-size: 56px;
        color: rgb(27, 29, 31);
        margin-left: 16px;
        background-color: transparent;
        border: none;
        outline: none;

        .left_img {
          width: 30px;
          transform: rotate(180deg);
        }
      }
      .right_button {
        cursor: pointer;
        color: rgb(27, 29, 31);
        background-color: transparent;
        border: none;
        outline: none;
        .right_img {
          width: 30px;
        }
      }
    }
  }
}

// ********사진 카드 4개 fetch 받아오기********
.review_container {
  height: 400px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  width: 1000px;
}
// .one_of_div {
//   border: 1px solid black;
//   height: 400px;
//   max-width: 312px;
//   padding-left: 0.25rem;
//   padding-right: 0.25rem;
//   display: flex;
//   flex-direction: row;
// }

.see_more_info {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.see_more_info_text {
  align-items: center;
  -webkit-appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: -0.025rem;
  color: rgb(38, 40, 43);
  background-color: rgb(232, 235, 237);
  width: 210px;
  display: inline-flex;
  text-indent: 11px;
  border-radius: 9999px;
  outline: none;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(232, 235, 237);
  border-image: initial;
  padding: 0px 1.25rem;
}

.see_more_info_text:hover {
  border: 1px solid rgb(232, 235, 237);
  background-color: rgb(247, 248, 249);
}

.right_arrow_slick_review {
  transform: rotate(180deg);
}

.left_arrow_slick_review {
  transform: rotate(0deg);
}
